@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

/* Fallback for Linux Window Dragging */
[data-tauri-drag-region] {
  -webkit-app-region: drag;
}

button, 
.cursor-pointer,
[role="button"] {
  -webkit-app-region: no-drag;
}